//  Shure Button
//
//  A customized Bootstrap progress bar for displaying battery bars.
//
//  <button class="sh-border-btn">SH BUTTON</button>
//
//  Markup:
//   <button class="sh-border-btn">SH BUTTON</button>
//
//  Styleguide Modules.sh-form




.sh-form {

}


$sh-checkbox-height:32px;

// check boxes
.sh-checkbox {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: $sh-checkbox-height;


}



.sh-checkbox input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.sh-checkbox input[type=checkbox]:checked + label,
.sh-checkbox input[type=checkbox] + label{
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: $sh-checkbox-height;
  line-height: $sh-checkbox-height;
  vertical-align: middle;
  top: 0;
  left: 0;
  padding: 0 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;

  min-width: 20px;
}




.sh-checkbox input[type=checkbox]:checked + label i:after {
  content: '\f21b';
  position: absolute;
  top: 0px;
  left: 2px;
  line-height: 16px;
  font-size: 12px;
  speak: none;
  font-style: normal;
  font-weight: 700;
  font-family: Icons;

}


.sh-checkbox i {
  position: absolute;
  left: 10px;
  top: 7px;
  height: 16px;
  width: 16px;
  margin: 0;
}

.sh-checkbox span {
  position: relative;
  margin-left: 26px;
  top: 0;
  height: $sh-checkbox-height;
  line-height: $sh-checkbox-height;
  padding: 0;
  white-space: nowrap;
}

//
//.sh-checkbox span {
//  position: relative;
//  margin-left: $sh-checkbox-height;
//  top: 0;
//  height: 25px;
//  line-height: 25px;
//  padding: 0 4px;
//  white-space: nowrap;
//}
//
//
//.sh-checkbox.touch span {
//  height: 38px;
//  line-height: 38px;
//  margin-left: 42px;
//}
//
//.sh-checkbox span:first-of-type {
//  position: absolute;
//  left: 0;
//  top: 0;
//  height: 25px;
//  width: 25px;
//  margin: 0;
//}
//.sh-checkbox.touch span:first-of-type {
//  height: 38px;
//  width: 38px;
//}
//


//@import 'sh-form-checkbox';
