
// Shure Checkbox Module
//
// Markup:
//  <div class="sh-checkbox">
//
// Styleguide Modules.sh-checkbox

// check boxes
.sh-checkbox {
  display: inline-block;
  position: relative;
  overflow: hidden;
/*margin: 8px 0 8px 0;*/
}

.sh-checkbox.touch {
  height:50px;
}

.sh-checkbox input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.sh-checkbox input[type=checkbox]:checked + label,
.sh-checkbox input[type=checkbox] + label{
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 25px;
  top: 0;
  left: 0;
  padding: 0 10px;
}

.sh-checkbox.touch input[type=checkbox] + label {
  height: 42px;
}


.sh-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
}



.sh-checkbox label:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 8px;
  top: 6px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sh-checkbox.touch label:after {
  width: 25px;
  height: 14px;
  top: 9px;
}

.sh-checkbox span {
  position: relative;
  margin-left: 32px;
  top: 0;
  height: 25px;
  line-height: 25px;
  padding: 0 4px;
  white-space: nowrap;
}


.sh-checkbox.touch span {
  height: 38px;
  line-height: 38px;
  margin-left: 42px;
}

.sh-checkbox span:first-of-type {
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  margin: 0;
}
.sh-checkbox.touch span:first-of-type {
  height: 38px;
  width: 38px;
}
