@import '../../_includes/sass/default.theme.colors.scss';


.sh-checkbox {
    border-radius: 3px;
    border:1px solid transparent;
    background-color:transparent;
    display: inline-block;
}

.sh-mobile .sh-checkbox {
    border:1px solid rgba($color-slate-grey-5, 0.3);
    background-color:rgba($color-slate-grey-4, 0.3);
}


.sh-checkbox input[type=checkbox]:checked + label,
.sh-checkbox input[type=checkbox] + label{


}

.sh-checkbox label i:after {
    border: none;
}


.sh-checkbox input[type=checkbox]:checked + label > i {
    background-color: $color-sky-blue-2;
    border:1px solid $color-aqua-blue-1;
}

.sh-checkbox input[type=checkbox]:checked + label i:after{
    color: $color-white;
}

.sh-checkbox i {
    border-radius: 3px;
    border:1px solid $color-slate-grey-4;
    background-color: $color-white;
}


