[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.translate-cloak {
	visibility:hidden !important;
}


$ipadProtraitWidth : 992px;
$iphoneWidth : 699px;


.rtl .pull-right {
	float: left !important;
}

.rtl .pull-left {
	float: right !important;
}


@function addPixels($v1, $v2){
  $strippedV1: $v1 / ($v1 * 0 + 1); //strip unit
  $strippedV2: $v2 / ($v2 * 0 + 1); //strip unit
  @return ($v1 + $v2); //convert to px
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$side-bar-width: 200px;
$side-bar-width-medium: 45px;

$footer-height: 46px;


 // layout
// header
$header-height: 46px;
$header-element-a-padding: 0 13px;
$header-element-margin: 0 2px;
$header-left-element-margin-left:8px;
$header-right-element-margin-right-first: 3px;
$header-left-page-margin: 21px;

// page menu
$page-menu-width: 200px;
$page-menu-width-tablet: 56px;
$page-menu-width-mobile: 0;

$content-menu-width: 200px;
$content-menu-width-tablet: 50px;


$sh-context-header-height: 94px;
$sh-context-toolbar-height: 45px;

$sh-context-panel-width: 200px;

$sh-section-header-height: 36px;




