// COLORS

$color-white:#FFF;
$color-black:#000;
$color-slate-grey-1: #E4E9EB;
$color-slate-grey-2:#CDD9DD;
$color-slate-grey-3:#A8B6BC;
$color-slate-grey-4:#9CABAF;
$color-slate-grey-5:#839093;
$color-slate-grey-6:#52636D;
$color-slate-grey-7:#425058;
$color-slate-grey-7-2:#343F46;
$color-slate-grey-8:#252D33;
$color-slate-grey-9:#151A1D;


$color-sky-blue-1:#6BDAFF;
$color-sky-blue-2:#32CBFF;
$color-aqua-blue-1:#19B2D5;
$color-aqua-blue-2:#1595B2;


$color-pea-green:#286B2A;
$color-teal-blue:#266B64;
$color-olive-brown:#706010;
$color-moss-green:#C4E4BC;
$color-water-blue:#C5E4E0;
$color-limestone-tan:#E4E0A7;
$color-melon-green:#D8FFCF;
$color-ice-blue:#D9FFFB;
$color-butter-yellow:#FFFBB8;
$color-rose-red:#840202;
$color-tomato-red:#B30000;
$color-bright-red:#D70000;
$color-eraser-pink:#E4B6B6;
$color-pumpkin-orange:#C08400;
$color-citrus-orange:#FF9600;
$color-blush-pink:#FFCACA;
$color-squash-yellow:#C6BE00;
$color-lime-green:#A3CF00;
$color-grass-green:#46B048;
$color-leaf-green:#00B949;


$disabled-text-color: rgba($color-slate-grey-7, 0.3);
$selected-item-bg-color: rgba($color-aqua-blue-1, 0.5);

@mixin text-opacity($color, $opacity) {
  color: $color; /* The Fallback */
  color: rgba($color, $opacity);
}

/**
* Following mixins are to flash the UI elements.(Ex. IdentifyBtn)
**/
@mixin keyFrames($animationName){
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName}  {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;
}
