//  Shure Button
//
//  A customized Bootstrap progress bar for displaying battery bars.
//
//  <button class="sh-border-btn">SH BUTTON</button>
//
//  Markup:
//   <button class="sh-border-btn">SH BUTTON</button>
//
//  Styleguide Modules.sh-button



.sh-btn {

  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  outline: none;

}


