@import '../../_includes/sass/default.theme.colors.scss';

//button

// Replacing all .sh-btn instances with [class*="sh-btn"] allow further classes like .sh-btn-sm or .sh-btn-rasmus to inherit .sh-btn themes
[class*="sh-btn"] {
  background-color: transparent;
  color: $color-black;
  border-radius: 4px;

  &:focus {
    color: $color-black;
  }

  &:hover, &:active {
    color: $color-sky-blue-1;
    // force override of a tag's default underline on hover
    text-decoration: none !important;
  }

  &.sh-btn-disabled, &.sh-btn-disabled:focus, &.sh-btn-disabled:hover, &.sh-btn-disabled:active,
  &:disabled, &:disabled:focus, &:disabled:hover, &:disabled:active {
    opacity: 0.3;
    background-color: transparent;
    cursor: not-allowed;
    color: $color-black;
  }
}

// Primary button
[class*="sh-btn"].sh-btn-primary {
  background-color: $color-aqua-blue-1;
  border-color: $color-aqua-blue-2;
  color: $color-white;

  &:focus {
    background-color: $color-aqua-blue-1;
    border-color: $color-aqua-blue-2;
    color: $color-white;
  }

  &:hover, &:active {
    border-color: $color-white;
  }

  &.sh-btn-disabled, &.sh-btn-disabled:focus, &.sh-btn-disabled:hover, &.sh-btn-disabled:active,
  &:disabled, &:disabled:focus, &:disabled:hover, &:disabled:active {
    background-color: transparent;
    color: $color-black;
    border-color: $color-aqua-blue-2;
  }
}


// Secondary button
[class*="sh-btn"].sh-btn-secondary {
  background-color: $color-white;
  border-color: $color-slate-grey-7;
  color: $color-black;

  &:focus {
    background-color: $color-white;
    border-color: $color-slate-grey-7;
    color: $color-black;
  }

  &:hover, &:active {
    border-color: $color-white;
  }

  &.sh-btn-disabled, &.sh-btn-disabled:focus, &.sh-btn-disabled:hover, &.sh-btn-disabled:active,
  &:disabled, &:disabled:focus, &:disabled:hover, &:disabled:active {
    background-color: transparent;
    color: $color-black;
    border-color: $color-slate-grey-7;
  }
}

//input[type="text"]:disabled

// Neutral button
[class*="sh-btn"].sh-btn-neutral {
  background-color: $color-slate-grey-4;
  border-color: $color-slate-grey-5;
  color: $color-white;

  &:focus {
    background-color: $color-slate-grey-4;
    border-color: $color-slate-grey-5;
    color: $color-white;
  }

  &:hover, &:active {
    border-color: $color-white;
  }

  &.sh-btn-disabled, &.sh-btn-disabled:focus, &.sh-btn-disabled:hover, &.sh-btn-disabled:active,
  &:disabled, &:disabled:focus, &:disabled:hover, &:disabled:active {
    background-color: transparent;
    border-color: $color-slate-grey-5;
    color: $color-black;
  }
}

// Switch off (button style)
[class*="sh-btn"].sh-btn-switch-off {
  background-color: $color-white;
  border-color: $color-slate-grey-5;
  color: $color-slate-grey-5;

  &:focus {
    background-color: $color-white;
    border-color: $color-slate-grey-5;
    color: $color-slate-grey-5;
  }

  &:hover, &:active {
    border-color: $color-white;
  }

  &.sh-btn-disabled, &.sh-btn-disabled:focus, &.sh-btn-disabled:hover, &.sh-btn-disabled,
  &:disabled, &:disabled:focus, &:disabled:hover, &:disabled:active {
    border-color: $color-slate-grey-5;
    color: $color-slate-grey-5;
  }
}
