@import '../../_includes/sass/dark.theme.colors.scss';

.sh-app {
    color:$color-slate-grey-8;
}
.sh-app a,
.sh-app a:focus {
    color: $color-aqua-blue-1;
}

.sh-app a:hover,
.sh-app a:active {
    color: $color-slate-grey-9;
    text-decoration: underline;
}


.sh-app h1,
.sh-app .sh-header-1{
    color: $color-slate-grey-7;
}
.sh-app h2,
.sh-app .sh-header-2{
    font-size: 1em;
    color: $color-slate-grey-7;
}.sh-app h3,
 .sh-app .sh-header-3{
     color: $color-slate-grey-5;
 }
.sh-app .sh-tooltip{
    color: $color-white;
}

.sh-app .sh-btn-1 {
    color: $color-white;
}
.sh-app .sh-btn-2 {
    color: $color-slate-grey-7;
}
.sh-app .sh-btn-3 {
    color: $color-slate-grey-9;
}
.sh-app .sh-btn-4 {
    color: $color-slate-grey-2;
}
