// Fonts
//
// Font layout for application font sizes.
//
// Styleguide Layouts.Fonts

$base-font-size: 100%;
$base-tiny-label-font-size: 0.813em;

@mixin sh-strong() {
  font-family: 'Arimo-Bold', Arial, sans-serif;
  font-weight:700;
}

@mixin sh-italic() {
  font-family: 'Arimo-Italic', Arial, sans-serif;
  font-weight:400;
  font-style: italic;
}

@mixin sh-strong-italic() {
  font-family: 'Arimo-BoldItalic', Arial, sans-serif;
  font-weight:700;
  font-style: italic;
}

@mixin sh-normal() {
  font-family: 'Arimo', Arial, sans-serif;
  font-weight:400;
}

html,
body {
  font-size: $base-font-size;
}

.sh-app {
   font-size: 0.875em;
   line-height: 1.125em;
 }

.sh-app * {
  @include sh-normal();
}

.sh-app .sh-strong,
.sh-app strong  {
  @include sh-strong();
}

.sh-app .sh-label {
  opacity: 0.6;
}
.sh-app .sh-label-small {
  font-size: 0.688em;
  opacity: 0.6;
}

.sh-app h1,
.sh-app .sh-header-1{
  font-size: 1.625em;
  @include sh-strong();
  margin: 20px 0 14px 0;
}
.sh-app h2,
.sh-app .sh-header-2{
  font-size: 1em;
  @include sh-strong();
}
.sh-app h3,
.sh-app .sh-header-3{
  font-size: 1.125em;
}

.sh-app h4,
.sh-app .sh-header-4{
  @include sh-strong();
  font-size: 0.688em;
  text-transform:uppercase;
  letter-spacing: 0.06em;
  margin:10px 0;
}
.sh-app .sh-font-disabled{
  opacity: 0.3;
  @include sh-italic();
}


.sh-app a,
.sh-app a:active,
.sh-app a:visited,
.sh-app a:focus {
  text-decoration: none;
  outline: none;
}

.sh-app a:hover,
.sh-app a:active {
  text-decoration: underline;
}
