<!DOCTYPE html>
<html ng-app="shure.sh-list" ng-strict-dilang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../sh-typography/fonts/arimo/arimo.css">
    <link rel="stylesheet" href="../../sh-typography/dist/sh-typography.sourcemap.css">
    <link rel="stylesheet" href="../../sh-typography/dist/sh-typography.default.theme.sourcemap.css">

    <link rel="stylesheet" href="../../../bower_components/perfect-scrollbar/min/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="../dist/sh-list.sourcemap.css">
    <link rel="stylesheet" href="../dist/sh-list.default.theme.sourcemap.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-cloak class="sh-app" ng-controller="shListAppCtrl as shListAppVm">

<div id="sh-context-view">
    <!--<div class="sh-list-header sh-list-header-sticky">
        <table class="sh-list sh-list-sticky-header">
            <thead>
            <tr>
                <th></th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>-->
    <div class="sh-view" perfect-scrollbar wheel-propagation="true" wheel-speed="5" min-scrollbar-length="10">
       <!--<div  max="2"  users="shListAppVm.users "></div>-->

        <!--<div sh-list-sticky-header max="88" user="shListAppVm.users[1]"></div>-->
        <table class="sh-list" sh-list-sticky-header>
            <thead>
            <tr>
                <th class="sh-list-item-col-2 sh-list-item-mobile">List of users</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th class="sh-list-item-col-2">Age</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in shListAppVm.users track by $index">
                <td class="sh-list-item-col-2 sh-list-item-mobile" class="sh-list-item-mobile-hidden">{{user.firstname}} {{user.lastname}} ({{user.age}}) ( {{shListStickyHeaderVm.size.width}}</td>
                <td data-th="Firstname" class="sh-list-item-mobile-header" title="{{user.firstname}}">{{user.firstname}}</td>
                <td data-th="Lastname" class="sh-list-item-mobile-hidden" title="{{user.lastname}}">{{user.lastname}}</td>
                <td data-th="Age" class="sh-list-item-mobile-hidden sh-list-item-col-2">{{user.age}}</td>
            </tr>
            </tbody>
        </table>

        <button ng-click="shListAppVm.users[2].firstname='Hanne'">Go Hanne</button>
        <button ng-click="shListAppVm.users[1].firstname='Sanne'">Go Sanne</button>


    </div>
</div>



<!--

<div class="sh-list">
    <div class="sh-list-header sh-list-header-sticky">

    </div>
    <div class="sh-list-body">

    </div>
</div>

<div class="sh-item-header sh-item-header-sticky">
    <div data-th="Firstname" st-sort="firstName" st-sort-default="true" st-skip-natural="true" class="w2">Firstname</div>
    <div data-th="Lastname" st-sort="lastName" st-skip-natural="true" class="w2">Lastname</div>
    <div data-th="Role" st-sort="systemRole.name" st-skip-natural="true" class="w2">Role</div>
    <div class=""></div>
</div>
<div class="sh-view sh-has-list">
    <div class="sh-list">
        <div class="sh-item" ng-repeat="i in [0,1,2,3,4,5,6,7,8.9] track by $index">
            <div data-th="Firstname" class="w2">{i}}</div>
            <div data-th="Lastname" class="w2">{{i}}</div>
            <div data-th="Role" class="w2">{{i}}</div>
            <div class="">
                &lt;!&ndash;has-permission="{'!edit':'systemuser'}"&ndash;&gt;
                <a class="sh-btn pull-right">Edit</a>
                <a class="sh-btn pull-right">View</a>
                <button class="sh-btn sh-danger pull-right">Delete</button>

            </div>
        </div>
    </div>
</div>
-->
    <script language="JavaScript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script language="JavaScript" src="../../../bower_components/perfect-scrollbar/min/perfect-scrollbar.min.js"></script>
    <script language="JavaScript" src="../../../bower_components/angular/angular.min.js"></script>
    <script language="JavaScript" src="../../../bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>

<script language="JavaScript" src="app.js"></script>
</body>
</html>