<!-- example.directive.html -->
<div>hello {{shListStickyHeaderVm.user.firstname}}</div>
<div>max={{shListStickyHeaderVm.max}}<input ng-model="shListStickyHeaderVm.max"/></div>
<div>min={{shListStickyHeaderVm.min}}<input ng-model="shListStickyHeaderVm.min"/></div>
<ul>
    <li ng-repeat="user2 in shListStickyHeaderVm.users track by $index">{{user2.firstname}}</li>
</ul>