$font-icons: (
    sh-icon-arrow: "\f212",
    sh-icon-ascending: "\f213",
    sh-icon-asterisk: "\f214",
    sh-icon-barchart-hor: "\f215",
    sh-icon-barchart-ver: "\f216",
    sh-icon-bell: "\f217",
    sh-icon-briefcase: "\f218",
    sh-icon-briefcase-gear: "\f219",
    sh-icon-calendar: "\f21a",
    sh-icon-check: "\f21b",
    sh-icon-controls: "\f21c",
    sh-icon-dashboard: "\f21d",
    sh-icon-descending: "\f21e",
    sh-icon-devices: "\f21f",
    sh-icon-dropdown: "\f221",
    sh-icon-error: "\f248",
    sh-icon-expand: "\f222",
    sh-icon-eye: "\f223",
    sh-icon-floppy: "\f224",
    sh-icon-folder: "\f225",
    sh-icon-folder-closed: "\f24d",
    sh-icon-folder-open: "\f24e",
    sh-icon-gear: "\f226",
    sh-icon-gooseneck: "\f227",
    sh-icon-grid: "\f228",
    sh-icon-hand: "\f22a",
    sh-icon-headphones: "\f22b",
    sh-icon-help: "\f22c",
    sh-icon-highcut: "\f22d",
    sh-icon-home: "\f24f",
    sh-icon-info: "\f249",
    sh-icon-leftpanel: "\f22f",
    sh-icon-link: "\f230",
    sh-icon-list: "\f231",
    sh-icon-lowcut: "\f232",
    sh-icon-mic: "\f233",
    sh-icon-miccfg: "\f234",
    sh-icon-minus: "\f235",
    sh-icon-mute: "\f236",
    sh-icon-parametric: "\f237",
    sh-icon-pencil: "\f238",
    sh-icon-peq: "\f239",
    sh-icon-piechart: "\f23a",
    sh-icon-plus: "\f23b",
    sh-icon-refresh: "\f24a",
    sh-icon-rf: "\f23d",
    sh-icon-rotate: "\f23e",
    sh-icon-search: "\f23f",
    sh-icon-speechbubbles: "\f241",
    sh-icon-textfile: "\f242",
    sh-icon-user: "\f243",
    sh-icon-users: "\f244",
    sh-icon-wand: "\f245",
    sh-icon-warning: "\f24b",
    sh-icon-x: "\f24c",
    sh-icon-x-small: "\f246",
);