// Shure Icons
//
// Icon fonts generated from Shure UX SVG Icons using Font Custom http://fontcustom.com/
// <div class="panel-body"><div class="row"><div><b>Available Shure Icons:</b>
// <p class="sh-icon sh-icon-arrow"> SH-ICON-ARROW</p>
// <p class="sh-icon sh-icon-ascending"> SH-ICON-ASCENDING</p>
// <p class="sh-icon sh-icon-asterisk"> SH-ICON-ASTERICK</p>
// <p class="sh-icon sh-icon-barchart-hor"> SH-ICON-BAR-HOR</p>
// <p class="sh-icon sh-icon-barchart-ver"> SH-ICON-BAR-VER</p>
// <p class="sh-icon sh-icon-bell"> SH-ICON-BELL</p>
// <p class="sh-icon sh-icon-briefcase"> SH-ICON-BRIEFCASE</p>
// <p class="sh-icon sh-icon-briefcase-gear"> SH-ICON-BRIEFCASE-GEAR</p>
// <p class="sh-icon sh-icon-calendar"> SH-ICON-CALENDAR</p>
// <p class="sh-icon sh-icon-check"> SH-ICON-CHECK</p>
// <p class="sh-icon sh-icon-controls"> SH-ICON-CONTROLS</p>
// <p class="sh-icon sh-icon-dashboard"> SH-ICON-DASHBOARD</p>
// <p class="sh-icon sh-icon-descending"> SH-ICON-DESCENDING</p>
// <p class="sh-icon sh-icon-devices"> SH-ICON-DEVICES</p>
// <p class="sh-icon sh-icon-dropdown"> SH-ICON-DROPDOWN</p>
// <p class="sh-icon sh-icon-expand"> SH-ICON-EXPAND</p>
// <p class="sh-icon sh-icon-error"> SH-ICON-ERROR</p>
// <p class="sh-icon sh-icon-eye"> SH-ICON-EYE</p>
// <p class="sh-icon sh-icon-floppy"> SH-ICON-FLOPPY</p>
// <p class="sh-icon sh-icon-folder"> SH-ICON-FOLDER</p>
// <p class="sh-icon sh-icon-folder-closed"> SH-ICON-FOLDER-CLOSED</p>
// <p class="sh-icon sh-icon-folder-open"> SH-ICON-FOLDER-OPEN</p>
// <p class="sh-icon sh-icon-gear"> SH-ICON-GEAR</p>
// <p class="sh-icon sh-icon-gooseneck"> SH-ICON-GOOSENECK</p>
// <p class="sh-icon sh-icon-grid"> SH-ICON-GRID</p>
// <p class="sh-icon sh-icon-hand"> SH-ICON-HAND</p>
// <p class="sh-icon sh-icon-headphones"> SH-ICON-HEADPHONES</p>
// <p class="sh-icon sh-icon-help"> SH-ICON-HELP</p>
// <p class="sh-icon sh-icon-highcut"> SH-ICON-HIGHCUT</p>
// <p class="sh-icon sh-icon-home"> SH-ICON-HOME</p>
// <p class="sh-icon sh-icon-info"> SH-ICON-INFO</p>
// <p class="sh-icon sh-icon-leftpanel"> SH-ICON-LEFTPANEL</p>
// <p class="sh-icon sh-icon-link"> SH-ICON-LINK</p>
// <p class="sh-icon sh-icon-list"> SH-ICON-LIST</p>
// <p class="sh-icon sh-icon-lowcut"> SH-ICON-LOW-CUT</p>
// <p class="sh-icon sh-icon-mic"> SH-ICON-MIC</p>
// <p class="sh-icon sh-icon-miccfg"> SH-ICON-MICCFG</p>
// <p class="sh-icon sh-icon-minus"> SH-ICON-MINUS</p>
// <p class="sh-icon sh-icon-mute"> SH-ICON-MUTE</p>
// <p class="sh-icon sh-icon-parametric"> SH-ICON-PARAMETRIC</p>
// <p class="sh-icon sh-icon-pencil"> SH-ICON-PENCIL</p>
// <p class="sh-icon sh-icon-peq"> SH-ICON-PEQ</p>
// <p class="sh-icon sh-icon-piechart"> SH-ICON-PIECHART</p>
// <p class="sh-icon sh-icon-plus"> SH-ICON-PLUS</p>
// <p class="sh-icon sh-icon-refresh"> SH-ICON-REFRESH</p>
// <p class="sh-icon sh-icon-rf"> SH-ICON-RF</p>
// <p class="sh-icon sh-icon-rotate"> SH-ICON-ROTATE</p>
// <p class="sh-icon sh-icon-search"> SH-ICON-SEARCH</p>
// <p class="sh-icon sh-icon-speechbubbles"> SH-ICON-SPEECHBUBBLES</p>
// <p class="sh-icon sh-icon-textfile"> SH-ICON-TEXTFILE</p>
// <p class="sh-icon sh-icon-user"> SH-ICON-USER</p>
// <p class="sh-icon sh-icon-users"> SH-ICON-USERS</p>
// <p class="sh-icon sh-icon-wand"> SH-ICON-WAND</p>
// <p class="sh-icon sh-icon-warning"> SH-ICON-WARNING</p>
// <p class="sh-icon sh-icon-x-small"> SH-ICON-X-SMALL</p>
// <p class="sh-icon sh-icon-x"> SH-ICON-X</p>
// </div></div></div>
//
//  Markup:
//  <div>
//      <i class="sh-icon sh-icon-dashboard"></i>
//  </div>
//
// Styleguide ShureIcons.shureIcons

@import 'font-icons';
@import 'icon-font';

@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    &:#{$position} {
        @if $icon {
            content: "#{map-get($font-icons, $icon)}";
        }
        @if $styles {
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-family: Icons;
        }
        @content;
    }
}

// Set the required styles on all icons
[class*="checkboxLabel"],
[class*=" sh-icon-"]
{
    @include icon;
}

// Setup a class name for each icon
@each $name, $char in $font-icons {
    /*.sh-icon-#{$name}:before {
        content: $char;
    }*/
    .#{$name}:before {
        content: $char;
    }
}

