@import '../../_includes/sass/default.theme.colors.scss';



.sh-list{
  width: 100%;

  thead{
    tr {
      border: 1px solid $color-slate-grey-2;
      > th {
        //background-color: $color-slate-grey-1;
        //border-top: 1px solid $color-slate-grey-2;
        //border-bottom: 1px solid $color-slate-grey-2;
        border-right: 1px solid $color-slate-grey-2;

        &:last-of-type{
          border-right: 1px solid transparent;
          //border-right: 1p ;
        }
      }
    }
  }

  tr {

    &:nth-child(odd) {
      background-color: $color-white;
    }
    &:nth-child(even) {
      background-color: rgba($color-slate-grey-1, 0.5);
    }

    > th {
      background-color: $color-slate-grey-1;
      //border-top: 1px solid $color-slate-grey-2;
      //border-bottom: 1px solid $color-slate-grey-2;
      //border-right: 1px solid $color-slate-grey-2;

      &:last-of-type{
       // border-left: 1px solid $color-slate-grey-2;
        //border-right: 1p ;
      }
    }
    > td {

    }
  }
}
/*

.sh-item-header {
  border-bottom: 1px solid $color-slate-grey-2;
  background-color: $color-slate-grey-1;
 // @include sh-strong();
  > div {
    border-right: 1px solid $color-slate-grey-2;
  }
}

.sh-item-header.show-shadow:after {
  box-shadow: 0 10px 9px -6px #8C8C8C; // TODO: color variable?
  -webkit-box-shadow: 0 10px 9px -6px  #8C8C8C; // TODO: color variable?
  -moz-box-shadow: 0 10px 9px -6px #8C8C8C; // TODO: color variable?
}


.sh-item:nth-child(odd) {
  background-color: $color-white;
}
.sh-item:nth-child(even) {
  background-color: #F2F4F5;
}
.sh-item.sh-item-active {
  background-color:rgba($color-aqua-blue-1, 0.5);

  > div {
    border-right: 1px solid rgba($color-aqua-blue-1, 0.75);
    border-bottom: 1px solid rgba($color-aqua-blue-1, 0.75);
  }
  > div:last-of-type {
    border-right: 0;
  }
}
.sh-item{
  > div {
    border-right: 1px solid $color-slate-grey-2;
  }

  > div:last-of-type {
    border-right: 0;
  }

  .sh-item-status {
    background: $color-slate-grey-2;

    &.sh-item-status-online {
      background: $color-grass-green;
    }
  }
}

.sh-item,
.sh-item-header{
  > div {
    &.sh-no-right-border{
      border-right: 1px solid transparent;
    }
  }
}

*/

//
//.sh-list-item {
//  background-color: $base-dark1-color;
//}
//
//.sh-list-item-action:hover,
//.sh-list-item-action:active
//{
//  color: $color-sky-blue-2;
//}
//
//.sh-speak {
//  background-color: $base-red-color;
//}
//
//.sh-request {
//  background-color: $base-green-color;
//}
//
//.sh-attended {
//  color: $base-green-color;
//}
//.sh-not-attended {
//  color: $color-slate-grey-7;
//}
//
//.secondary-content > div {
//  color: darken($base-light2-color, 10%);
//}
//
//.sh-selected {
//  background-color: lighten($base-dark1-color, 5%);
//}
//
//.timeline-content .timeline-indicator {
//  background-color: $color-slate-grey-7;
//}