html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sh-context-view {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.sh-view {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.sh-list{
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;


  > thead, tbody {
    display: block;
    box-sizing: border-box;
  }

  tr {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    > th, td {
      box-sizing: border-box;
      margin: 0;
      flex: 1 0 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding:0 0 0 10px;
      text-align: left;

      &.sh-list-item-mobile{
        display: none;
      }

    }
    > th {
      box-sizing: border-box;
      height: 32px;
      line-height: 32px;
      vertical-align: middle;
      font-weight: 700;
    }


    @for $i from 2 through 24 {
      > th.sh-list-item-col-#{$i}, td.sh-list-item-col-#{$i} {
        flex: #{$i} 0 0;
      }
    }
  }
}

@media screen and (max-width: 955px) {
  .sh-list{


    tr{
      > th, td {
        &.sh-list-item-mobile{
          display: block;
        }
        &:not(.sh-list-item-mobile) {
          display: none;
        }
      }
    }

    //
    //thead {
    //  tr {
    //    th{
    //      display: none;
    //    }
    //    th:first-of-type{
    //      display: block;
    //      content: attr(data-mobile-header) ;
    //    }
    //    th:first-of-type:after{
    //      display: block;
    //      content: attr(data-mobile-header) ;
    //    }
    //  }
    //}
    tbody{
      tr{
        flex-direction: column;
        height: auto;
        margin-bottom: 10px;
        position: relative;
        height: 45px;
        overflow: hidden;

        > td {
          flex: auto;
          float: left;
        }
        //
        //> td:before {
        //  content: attr(data-th) ": ";
        //  width: 100px;
        //  display: inline-block;
        //}

        > td.sh-list-item-mobile-header {
          visibility: hidden;
        }
        > td.sh-list-item-mobile-header:after {
          content: attr(data-sh-list-item-mobile-header);
          display: block;
          visibility: visible;
          position: absolute;
          top:5px;
          left: 20px;
        }

        > td.sh-list-item-mobile-header-value {
          display: none;
        }

      }
    }
  }
}



.sh-list-header.sh-list-header-sticky ~ .sh-view{
  height: calc(100% - 34px);
//  top:34px;
}


.sh-list-header.sh-list-header-sticky ~ .sh-view thead{
  display: none;
}



/*

.sh-list{
  width: 100%;
}

.sh-item {
  height: 40px;
  line-height: 40px;
  border-top:none;

  .sh-item-status {
    position: absolute;
    width: 5px;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.sh-item, .sh-item-header {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  > .sh-item-checkbox {
    flex: 0 0 51px;
    position: relative;

    > .sh-checkbox{
      display: block;
      top: 4px;
      left: -3px;
    }
  }


  > div {
    flex: 1 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
  }

  > div.w2 { flex: 2 0 0; }
  > div.w3 { flex: 3 0 0; }
  > div.w4 { flex: 4 0 0; }
  > div.w5 { flex: 5 0 0; }
  > div.w6 { flex: 6 0 0; }
  > div.w7 { flex: 7 0 0; }
  > div.w8 { flex: 8 0 0; }
  > div.w9 { flex: 9 0 0; }
  > div.w10 { flex: 10 0 0; }
  > div.w11 { flex: 11 0 0; }
  > div.w12 { flex: 12 0 0; }
}


.sh-view {
  display: block;
  margin: 0 20px;
  padding: 20px 0;
}

.sh-item-header, .sh-list{

}

.sh-item-header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;

  > div:last-of-type {
    border-right: none;
  }
}

.sh-item-header.sh-item-header-sticky {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 500;

  ~ .sh-view{
    height: calc(100% - 36px);
    top: 35px;
    overflow: hidden;
    position: relative;
  }
}


.sh-item-header.show-shadow:after {
  position: absolute;
  background: transparent;
  width: 110%;
  height: 100%;
  content: '';
  bottom: 0;
  left: -10px;
}



//
//@media screen and (max-width: 955px) {
//
//  .item {
//    flex-direction: column;
//    height: auto;
//  }
//
//  .item > div:before {
//    content: attr(data-th) ": ";
//    width: 100px;
//    display: inline-block;
//  }
//
//  .item > div {
//    flex: auto;
//    float: left;
//  }
//}
//
.scroller {
  height: calc(100% - 36px);
  top: 35px;
  overflow-y: hidden;
  position: relative;
}

.ps-scrollbar-y-rail {
  padding: 0;
}*/
